.About-ButtonGroup {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 10px !important;
}

.AboutBtn {
	background-color: #55836f !important;
	border: 1px solid rgb(255, 203, 44);
	color: white !important;
}

.IconGroup {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 10px !important;
}

.EventHistory {
	display: flex;
	flex-direction: column;
}

.EventKey {
	display: flex;
	justify-content: space-between;
	margin: 10px !important;
}
.HashTagsKey {
	display: flex;
	align-items: flex-end;
	margin: 10px !important;
}

button:hover {
	background-color: white !important;
	color: #75a488 !important;
}
