/* .About-ButtonGroup {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 10px !important;
} */

.about__personalInfo__iconGroup {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin: 10px !important;
}

.about__hashtags__eventHistory {
	display: flex;
	flex-direction: column;
}

.about__hashtags__eventKey {
	display: flex;
	justify-content: space-between;
	margin: 10px !important;
}
.about__hashtags__hashTagsKey {
	display: flex;
	align-items: flex-end;
	margin: 10px !important;
}

