#EventHeader {
	display: flex;
	justify-content: space-between;
}

.event__detailPage__dateTime{
	display: flex;
    justify-content: center;
}

.event__detailPage__titleDescription{
	display: flex;
	flex-direction: column;
    align-items: center;
}