.CardTitle {
	font-weight: bold;
	font-size: 20px;
}

.CardBody {
	margin: 0;
	border-radius: 20px;
	background: #afb1b672;
	display: flex;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
	gap: 20px;
	width: 95%;
	height: 180px;
}

.Card {
	width: 150px;
	display: flex;
	align-items: center;
}

.CardImage {
	width: inherit;
	height: 150px;
}

.CardContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.ContentText {
	text-align: left;
}

.CardBtn {
	width: 100%;
}
