.header-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	overflow: hidden;
	position: fixed;
	flex-wrap: wrap;
	background-color: #eae7e9;
	opacity: 0.95;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	z-index: 1;
}
