.logo {
	width: 180px;
	margin-bottom: 20px;
	margin-top: 50px;
}
.loginInput {
	all: unset;
	padding: 1vh 14vw;
	border-radius: 5px;
}

.loginInput input {
	border: 1px solid rgb(81, 81, 81);
	width: 65vw;
}

.login-input-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loginCheckbox input[type='checkbox'] {
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	appearance: checkbox;
	display: inline-block;
	width: auto;
}

.rememberMeAndForgotPassword {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 20px;
}

.login-login {
	margin-top: 20px;
	border: 0;
	width: 65vw;
	padding: 12px;
	border-radius: 5px;
	height: 40px !important;
}

.login-register {
	border: 0;
	width: 65vw;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 60px;
	height: 40px !important;
}
.outerDiv {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: FFFFFF;
	height: 100vh;
	width: 100vw;
	padding-top: 5px;
}

.checkbox {
	display: flex;
	justify-content: center;
	margin: 10px 18vw;
}

.break {
	margin-top: 60px;
	width: 60vw;
}
