.logo {
  width: 200px;
  margin-bottom: 20px;
  margin-top:50px;
}
.loginInput {
  width: 65vw;
  /* height: 25px; */
  background: #EFEFEF;
  padding: 12px;
  border:0;
  border-radius: 6px;
  margin-bottom: 20px;
}

input[type="text"], textarea {
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 12px;
}

input[type="password"], textarea {

  background-color: rgba(255, 255, 255, 0.4);
    
  padding-left: 12px;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: auto;
}

.rememberMeAndForgotPassword {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login {
  margin-top:20px;
  border: 0;
  width: 65vw;
  padding: 12px;
  border-radius: 6px;
  /* margin-bottom: 20px; */
}

.register {
  border: 0;
  width: 65vw;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top:60px;
}

.outerDiv {
  background: linear-gradient(#ffb79d, hsl(336, 100%, 87%));
  height:100vh;
  width:100vw;
  /* font-size: 30px; */
  padding-top:5px;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.checkbox {
  margin:10px 70px;
}

.break {
  margin-top: 60px;
  width:60vw;
}