.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #eae7e9;
	opacity: 0.95;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
}

.navbar a {
	float: left;
	display: block;
	color: #8d4747;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #212423;
	color: white;
}
