.register__logo {
	width: 180px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.register__performer__tagStyle {
	padding: 20px;
	margin: 5px;
	border: 0px;
	background: rgb(215, 248, 255);
}

.register__performer__tagStyle2 {
	padding: 20px;
	margin: 5px;
	border: 0px;
	background: rgb(255, 243, 151);
	color: rgb(141, 135, 87);
}

.register__performer__outerDiv {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;

	background-size: cover;
}

.register__performer__pageShow {
	text-align: center;
}

.register__outerDiv {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	font-size: 40px;
	padding-top: 1vh;
	font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.register__content {
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
	padding-top: 1vh;
	font-family: Impact, 'Arial Narrow Bold', sans-serif;
	padding: 2vh 3vw;
}
.register__btnContainer {
	margin-top: 3vh;
}

.register__btn {
  background-color: black;
	margin-top: 20px;
	border: 0 #000000;
	width: 65vw;
	padding: 12px;
	border-radius: 5px;
	height: 40px !important;
}

.register__input {
	padding: 1vh 14vw;
}

.register__input input {
	padding-top: 3vw;
	padding-bottom: 3vw;
	border: 1px solid rgb(81, 81, 81);
	border-radius: 5px;
}

.register__user__back {
	all: unset;
  background-color: #000000;
	padding: 1vh;
	color: #FFFFFF;
	border-radius: 5px;
}

.register__back__none {
	all: unset;
	background: rgba(230, 124, 126, 0);
	padding: 1vh;
	color: rgba(255, 255, 255, 0);
	border-radius: 5px;
}

.register__user__nextAndSubmit {
	all: unset;
  background-color: #000000;
	padding: 1vh;
	color: #FFFFFF;
  font-weight: bolder;
	border-radius: 5px;
}

.register__performer__pageShow {
	padding: 1vh;
}

.register__user__backPageSubmit {
	display: flex;
	justify-content: space-evenly;
}

.register__basicInfo__checkPassword{
  background-color: #000000;
}
