* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ostrich Sans';
}

body {
	font-family: 'Ostrich Sans';
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 80px 10px 80px 10px;
	z-index: 1;
}

.HeaderLogo {
	width: 50px;
}

.Title {
	display: flex;
	size: 73px;
	font-size: 25px;
	padding: 10px 10px 10px 10px;
	font-weight: bolder;
	font-family: 'Ostrich Sans' !important;
}

code {
	font-family: 'Ostrich Sans';
}
